name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs-version:
          - '26.3'
          - '27.2'
          - '28.2'
          - '29.4'
          - 'snapshot'
      fail-fast: false

    steps:
    - uses: actions/checkout@v4

    - name: Set up Emacs
      uses: jcs090218/setup-emacs@master
      with:
        version: ${{ matrix.emacs-version }}

    - name: Set up Eldev
      uses: emacs-eldev/setup-eldev@v1

    - name: Test
      run: |
        eldev -p -dtT test
